$padWidth:60px;
$padHeight:60px;
  
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

* {font-family: 'Pacifico';
    box-sizing:border-box
}

body{
  background-image: url('https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover
}

#display {
      width: 200px;
      background-color: rgb(222,184,135);
      padding: 5px;
      box-sizing: border-box;
      text-align:center;
    }

.controlPanel {
 display:block;
   padding-top:90px;
     padding-left:10px;
}

p {
        margin-bottom: 0;
      }

  .control {
      width: 100px;
      
      p {
        margin-bottom: 0;
      }
      .select {
      @extend .outer-select;
        .inner {
          @extend .inner-select;
        }
      }
    }

.outer-select {
  border: 1px solid black;
  width: 50px;
  height: 20px;
  background-color: black;
}

.inner-select {
  width: 23px;
  height: 20px;
  background-color: rgb(222,184,135);
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  margin-top:-1px;
  margin-left:-1px;
}

.drum-pad{
  width: $padWidth;
  height: $padHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  background-color:rgb(222,184,135);

    &:hover{
      cursor:pointer;
      }
}


.pad-bank {
  display:grid;
  grid-template-columns: repeat( auto-fit, 60px);
  grid-template-rows: repeat( auto-fit, 60px);
  width:300px;
  height:300px;
  border-radius:30px;
  grid-gap:20px;
   justify-content: space-around;
  align-content: space-around ;
    padding: 30px;
  
}


.inner-container {
  display:flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50px;
  border: 4px solid rgb(255,235,205);
  padding-right:30px;
    padding-bottom: 15px
}

#powerbutton {
  color: rgb(37,37,37);
  text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
  font-size: 12pt;
  display: block;
  position: relative;
  text-decoration: none;
  background-color: rgb(83,87,93);
    box-shadow: 0px 2px 0px 0px rgb(34,34,34), /* 1st Shadow */
          0px 7px 10px 0px rgb(17,17,17), /* 1nd Shadow */
          inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */
          inset 0px -12px 35px 0px rgba(0, 0, 0, .5); /* 4th Shadow */
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 35px;
  text-align: center;
  line-height: 35px;
  &:hover{
  cursor:pointer;
}
  &:active {
    box-shadow: 0px 0px 0px 0px rgb(34,34,34), /* 1st Shadow */
          0px 3px 7px 0px rgb(17,17,17), /* 2nd Shadow */
          inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */
          inset 0px -10px 35px 5px rgba(0, 0, 0, .5); /* 4th Shadow */
    background-color: rgb(83,87,93);
    top: 3px;
}

  }
  
#powerbutton {
transition: color 350ms, text-shadow 350ms;
  -o-transition: color 350ms, text-shadow 350ms;
  -moz-transition: color 350ms, text-shadow 350ms;
  -webkit-transition: color 350ms, text-shadow 350ms;
}

  
#powerandvolume {
  display:flex;
    align-items:center;
}

.volume-slider {
  margin-bottom:-8px;
  margin-left:-33px;
  
}



$track-color: rgb(222,184,135) !default;
$thumb-color: rgb(205,133,63) !default;

$thumb-radius: 0 !default;
$thumb-height: 25px !default;
$thumb-width: 8px !default;
$thumb-shadow-size: 1px !default;
$thumb-shadow-blur: 1px !default;
$thumb-shadow-color: #111 !default;
$thumb-border-width: 0 !default;
$thumb-border-color: #fff !default;

$track-width: 100% !default;
$track-height: 5px !default;
$track-shadow-size: 2px !default;
$track-shadow-blur: 2px !default;
$track-shadow-color: #222 !default;
$track-border-width: 1px !default;
$track-border-color: #000 !default;

$track-radius: 0 !default;
$contrast: 5% !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  transition: all .2s ease;
}

@mixin thumb() {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
  &:hover {
    opacity:1
  }
}

[type=range] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;
  
  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
    opacity:0.7
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten($track-color, $contrast);
  }

  &::-moz-range-track {
    @include track();
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }

  &:focus::-ms-fill-upper {
    background: lighten($track-color, $contrast);
  }
 
}


#creator{
  float:right;
  word-wrap: normal;
  width:75px;
}


@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}